.contenido{
  background-image: url('../img/background.jpg');
  -webkit-box-flex: 1;
          flex: 1;
}

body
{
  background: #37474F;
  color: #FAFAFA;
  font-family: Montserrat, sans-serif;
  font-size: 1.5em;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

  .header{
    cursor: pointer;
    z-index: 3;
    color: rgba(47, 79, 79, 0.44);
    display: -webkit-box;
    display: flex;
    height: 0;
    padding-left: 7px;
  }

  .header:hover{
    color: rgba(47, 79, 79, 0.74);
  }

  .menu{
    padding-top: 30px;
    background: rgba(244, 67, 54, 0.91);
    position: fixed;
    right: 100%;
    top: 0;
    bottom: 0;
    width: 20%;
    transition: .4s;
  }

  .menu.active{
  right:  80%;
}

.menu ul{
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.menu ul li{
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid white;
  width: 90%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  padding-right: 20px;
}

.menu a{
  text-decoration: none;
  color: white;
}

#share{
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2em;
  border: none;
}

#share i{
  padding: 0 20px;
}


#whatsapp{
  display: none;
}




.inicio.active,
.selectorTable.active,
.levelbox.active,
.aprendiz.active,
.experto.active,
.aprendizProbar.active,
.medio.active{
  padding-top: 1%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  margin: auto;
  background-color: rgba(47, 79, 79, 0.94);
  width: 50%;
  border-radius: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
}

.operador{
    padding: 15px 20px;
    margin: 10px;
    font-weight: bold;
    border: 2px solid rgba(26, 253, 11, 0.22);
    border-radius: 10px;
    color: aqua;
}

.resultado{
    padding: 15px 50px;
    margin: 10px;
    font-weight: bold;
    border: 2px solid rgba(98, 177, 246, 0.99);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: #3b5959;
    max-width: 170px;
    height: 30px;
    margin-top: 25px;
}
.inicio,
.selectorTable,
.tablero,
.imagen-destacada,
.levelbox,
.aprendiz,
.experto,
.aprendizProbar,
.medio{
  display: none;
}



.buttonsbox{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  padding-left: 8px;
}

.row{
  display: -webkit-box;
  display: flex;
}

.tabla, .row, .operador, label{
  -webkit-animation: appear 2.5s;
          animation: appear 2.5s;
}

label{
  font-size: 0.8em;
}
.tabla{
  padding: 15px 50px;
  margin: 10px;
  font-weight: bold;
  border: 2px solid rgba(26, 253, 11, 0.22);
  border-radius: 10px;
}

.unactive{
  display: none;
}

.tabla:hover{
  background-color: rgba(76, 175, 80, 0.48);
  border-color: rgba(76, 175, 80, 0.1);
}

.tabla.active{
  background-color: rgba(76, 175, 80, 0.48);
  border-color: rgba(76, 175, 80, 0.1);
}

.tablero.active{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  padding-left: 8px;
  padding-top: 1%;
  margin: auto;
  background-color: rgba(47, 79, 79, 0.94);
  width: 40%;
  border-radius: 30px;
  padding-bottom: 30px;
}

.display{
  padding: 30px 10px;
  font-size: 2em;
}

#operacion{
  padding: 30px 10px;
  font-size: 2em;
}

.teclado{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  padding-left: 8px;
}
/*
#operador{
  color: rgba(26, 253, 11, 0.22);
}*/

.dashboard{
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
.lista, .listainvertida{
  font-size: .8em;
  font-family: 'Architects Daughter', cursive;
  padding-right: 10px;
  font-weight: bold;
}

.lista.color1,
.listainvertida.color1{
  color: #70d5fa;
}

.lista.color2,
.listainvertida.color2{
  color: #33f109;
}

.lista.color3,
.listainvertida.color3{
  color: #ff8a24;
}

.lista{
  border-right: 2px solid rgba(26, 253, 11, 0.22);
  color: rgba(251, 245, 91, 1);
}

.listainvertida{
  padding-left: 10px;
  color: #33f109;
}

#multiply{
  -webkit-animation: appear 2.5s;
          animation: appear 2.5s;
}
footer{
  font-size: .6em;
}

footer a{
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 800px){

  body
  {
    font-size: 1.2em;
    text-align: center;
    min-height: 600px;
  }

  .contenido{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
  }

  .menu{
    width: 40%
  }

  .menu.active {
    right: 60%;
}

#whatsapp{
  display:inline;
}
  .tabla{
    padding: 10px 40px;
    margin: 7px;
    font-weight: bold;
    border: 1px solid rgba(26, 253, 11, 0.22);
    border-radius: 10px;
  }

  .unactive{
    display: none;
  }

  .tablero.active{
    width: 70%;
    padding-bottom: 40px;
    margin-top: 80px;
  }

  .selectorTable.active,
  .levelbox.active,
  .aprendizProbar.active,
  .medio.active{
    width: 70%;
    margin-top: 100px;
    padding-bottom: 30px;
  }

  .aprendiz.active,
  .experto.active{
    width: 80%;
    margin-top: 100px;
    padding-bottom: 30px;
  }



  .levelbox.active .buttonsbox .row{
    flex-direction: column;

  }

  .levelbox.active .buttonsbox .row .tabla{
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .resultado{
    height: 17px;
    padding: 15px 10px;
    width: 120px;
  }
}

@media screen and (max-width: 500px){

  body
  {
    font-size: 1em;
    text-align: center;
  }


  .menu{
    width: 80%
  }

  .menu.active {
    right: 20%;
   }

   .menu ul li{
     -webkit-box-pack: center;
             justify-content: center;

   }

  #share{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: justify;
            justify-content: space-between;
    height: 200px;
  }

   #whatsapp{
     display:inline;
   }

  .tabla{
    padding: 7px 30px;
    margin: 5px;
    font-weight: bold;
    border: 2px solid rgba(26, 253, 11, 0.22);
    border-radius: 50px;
  }

  .unactive{
    display: none;
  }

  .tablero.active,
  .levelbox.active,
  .aprendiz.active,
  .aprendizProbar.active
  .medio.active{
    width: 90%;
    padding-bottom: 40px;
    margin-top: 80px;
  }

  .levelbox.active .buttonsbox .row{
    flex-direction: column;
  }

  .levelbox.active .buttonsbox .row .tabla{
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .selectorTable.active{
    width: 90%;
    margin-top: 100px;
    padding-bottom: 30px;
  }

  .resultado{
    height: 17px;
    padding: 15px 10px;
    width: 120px;
  }

}



@-webkit-keyframes appear {
  0% {
    color: #37474F;
    border-color: #37474F;
  }
  100% {
    color: #FAFAFA;
    border-color: rgba(26, 253, 11, 0.22);
  }
}



@keyframes appear {
  0% {
    color: #37474F;
    border-color: #37474F;
  }
  100% {
    color: #FAFAFA;
    border-color: rgba(26, 253, 11, 0.22);
  }
}
